.button{
    padding-inline: 1rem;
    padding-block: .5rem;
    background-color: rgb(246, 43, 43);
    border-radius: 1rem;
    border: none;
    cursor: pointer;

    &:active{
        scale: .9
    }
}